Source: polo-file-manager
Section: utils
Priority: extra
Maintainer: Tony George <tony.george.kol@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, valac, libgtk-3-dev, libgee-0.8-dev, libvte-2.91-dev, libjson-glib-dev, libxml2-dev
Standards-Version: 3.9.3
Homepage: http://teejeetech.blogspot.in/
#Vcs-Git: git://git.debian.org/collab-maint/hello.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/hello.git;a=summary

Package: polo-file-manager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgee-0.8-2, libvte-2.91-0, libjson-glib-1.0-0, libxml2, rsync, ffmpeg, mediainfo, p7zip, p7zip-full, p7zip-rar, tar, gzip | pigz, bzip2 | pbzip2, xz-utils, fish, qemu-kvm, qemu-utils, gvfs, gvfs-bin, gvfs-backends, wget, youtube-dl
Recommends: libimage-exiftool-perl, ghostscript
Description: A modern file manager for Linux
 A modern file manager for Linux
