app_name: Polo File Manager
depends_debian:  ffmpeg mediainfo rsync pv p7zip p7zip-full tar gzip bzip2 xz-utils fish qemu-kvm qemu-utils
depends_redhat:  ffmpeg mediainfo rsync pv p7zip p7zip-plugins tar gzip bzip2 xz fish qemu-kvm qemu-img
depends_arch:    ffmpeg mediainfo rsync pv p7zip tar xz gzip bzip2 fish qemu
depends_generic: ffmpeg mediainfo rsync pv p7zip p7zip-full tar gzip bzip2 xz-utils fish qemu-kvm qemu-utils
assume_yes: 0
exec_line: polo-gtk
