app_name: Polo File Manager
depends_debian:  libgee-0.8-2 libvte-2.91-0 libjson-glib-1.0-0 libxml2 ffmpeg mediainfo rsync pv p7zip p7zip-full tar gzip bzip2 xz-utils fish qemu-kvm qemu-utils gvfs gvfs-bin gvfs-backends youtube-dl
depends_redhat:  libgee vte291 json-glib libxml2 ffmpeg mediainfo rsync pv p7zip p7zip-plugins tar gzip bzip2 xz fish qemu-kvm qemu-img gvfs gvfs-bin gvfs-backends youtube-dl
depends_arch:    libgee vte3 json-glib libxml2 ffmpeg mediainfo rsync pv p7zip tar xz gzip bzip2 fish qemu gvfs gvfs-bin gvfs-backends youtube-dl
depends_generic: libgee libvte json-glib libxml2 ffmpeg mediainfo rsync pv p7zip p7zip-full tar gzip bzip2 xz-utils fish qemu-kvm qemu-utils gvfs gvfs-bin gvfs-backends youtube-dl
assume_yes: 0
exec_line: polo-gtk
